@font-face {
    font-family: hasti;
    src: url('../fonts/hasti.woff') format('woff'),
    url('../fonts/hasti.ttf') format('truetype');
}

@font-face {
    font-family: 'Doran';
    src: url('../fonts/Doran-Light.eot');
    src: local('Doran Light'), local('Doran-Light'),
        url('../fonts/Doran-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Light.woff2') format('woff2'),
        url('../fonts/Doran-Light.woff') format('woff'),
        url('../fonts/Doran-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../fonts/Doran-Thin.eot');
    src: local('Doran Thin'), local('Doran-Thin'),
        url('../fonts/Doran-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Thin.woff2') format('woff2'),
        url('../fonts/Doran-Thin.woff') format('woff'),
        url('../fonts/Doran-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../fonts/Doran-Medium.eot');
    src: local('Doran Medium'), local('Doran-Medium'),
        url('../fonts/Doran-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Medium.woff2') format('woff2'),
        url('../fonts/Doran-Medium.woff') format('woff'),
        url('../fonts/Doran-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../fonts/Doran-Bold.eot');
    src: local('Doran Bold'), local('Doran-Bold'),
        url('../fonts/Doran-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Bold.woff2') format('woff2'),
        url('../fonts/Doran-Bold.woff') format('woff'),
        url('../fonts/Doran-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../fonts/Doran-Regular.eot');
    src: local('Doran Regular'), local('Doran-Regular'),
        url('../fonts/Doran-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Regular.woff2') format('woff2'),
        url('../fonts/Doran-Regular.woff') format('woff'),
        url('../fonts/Doran-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('../fonts/Doran-ExtraBold.eot');
    src: local('Doran ExtraBold'), local('Doran-ExtraBold'),
        url('../fonts/Doran-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-ExtraBold.woff2') format('woff2'),
        url('../fonts/Doran-ExtraBold.woff') format('woff'),
        url('../fonts/Doran-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #fff;
    --black: #000;
    --glass: rgba(255,255,255,.13);
    --glass-border: rgba(255,255,255,.1);
    --shadow: 0 0 40px rgba(8,7,16,.6);
}

.glass {
    background-color: var(--glass);
    backdrop-filter: blur(10px);
    border: 2px solid var(--glass-border);
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    display: inline-block;
    font-family: 'hasti', hasti, Hasti;
    font-size: clamp(1.5rem,4vw,2.2rem);
    color: var(--black);
    text-decoration: none;
    border-left: 1px solid rgb(66, 65, 65);
    margin: 10px 5px;
    padding: 10px;
    padding-left: 18px;
}

.nav-item:last-child {
    border-left: 0;
}

.nav-item:hover {
    color: green;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    background: radial-gradient(
    circle,
    #fbfbfb8f 80%,
    #88898900 100%,
    #14141400 50%
    );
    border: 1px solid var(--white);
    border-radius: 15px;
    box-shadow: var(--shadow);
    margin: 10px;
}

.reserv-btn {
    padding: 18px 45px;
    font-size:18px;
    letter-spacing:2px;
}

.titr {
    font-family: 'Doran';
    font-weight: 800;
    font-size: clamp(1.5rem,4vw,2.2rem);
    color: var(--white);
    padding-right: 20px;
}

.desc {
    font-family: 'Doran';
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
    height: 100%;
    width: 70%;
    color: var(--white);
    padding: 2%;
    margin: 1%;
}

.about {
    font-size: 1.5rem;
    width: 50%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border-radius: 15px;
}

.info-card {
    width: 90%;
    text-align: center;
    color: var(--black);
    font-family: 'Doran';
    padding: 20px;
    border-radius: 10px;
}

.info-card a {
    color: var(--black);
}

p a {
  color: var(--white);
}

@media (max-width: 768px) {
    .navigation {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .about {
        font-size: 1.3rem;
        width: 70%;
    }

    .desc,
    .about{
        width:95%;
        margin:auto;
    }

    .titr{
        margin-right:0;
        text-align:right;
    }
}