@font-face {
    font-family: ZFJahan;
    src: url('../fonts/ZFJahan.woff') format('woff'),
    url('../fonts/ZFJahan.ttf') format('truetype');
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Light.eot');
    src: local('Doran Light'), local('Doran-Light'),
        url('../fonts/Doran-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Light.woff2') format('woff2'),
        url('../fonts/Doran-Light.woff') format('woff'),
        url('../fonts/Doran-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Thin.eot');
    src: local('Doran Thin'), local('Doran-Thin'),
        url('../fonts/Doran-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Thin.woff2') format('woff2'),
        url('../fonts/Doran-Thin.woff') format('woff'),
        url('../fonts/Doran-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Medium.eot');
    src: local('Doran Medium'), local('Doran-Medium'),
        url('../fonts/Doran-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Medium.woff2') format('woff2'),
        url('../fonts/Doran-Medium.woff') format('woff'),
        url('../fonts/Doran-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Bold.eot');
    src: local('Doran Bold'), local('Doran-Bold'),
        url('../fonts/Doran-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Bold.woff2') format('woff2'),
        url('../fonts/Doran-Bold.woff') format('woff'),
        url('../fonts/Doran-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Regular.eot');
    src: local('Doran Regular'), local('Doran-Regular'),
        url('../fonts/Doran-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Regular.woff2') format('woff2'),
        url('../fonts/Doran-Regular.woff') format('woff'),
        url('../fonts/Doran-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-ExtraBold.eot');
    src: local('Doran ExtraBold'), local('Doran-ExtraBold'),
        url('../fonts/Doran-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-ExtraBold.woff2') format('woff2'),
        url('../fonts/Doran-ExtraBold.woff') format('woff'),
        url('../fonts/Doran-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

p {
    font-family: ZFJahan;
    color: white;
    font-size: 35px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

div {
    font-family: 'Doran';
    margin: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

button {
    font-family: 'Doran';
  --green: #1BFD9C;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

button:hover:before {
  transform: translateX(15em);
}