@font-face {
    font-family: ZFJahan;
    src: url('../fonts/ZFJahan.woff') format('woff'),
    url('../fonts/ZFJahan.ttf') format('truetype');
}

@font-face {
    font-family: IRNAZANINBOLD;
    src: url('../fonts/IRNAZANINBOLD.woff') format('woff'),
    url('../fonts/IRNAZANINBOLD.ttf') format('truetype');
}

p {
    font-family: ZFJahan;
    font-size: 35px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

div {
    font-family: IRNAZANINBOLD;
    margin: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}