@font-face {
    font-family: ZFJahan;
    src: url('../fonts/ZFJahan.woff') format('woff'),
    url('../fonts/ZFJahan.ttf') format('truetype');
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Light.eot');
    src: local('Doran Light'), local('Doran-Light'),
        url('../fonts/Doran-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Light.woff2') format('woff2'),
        url('../fonts/Doran-Light.woff') format('woff'),
        url('../fonts/Doran-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Thin.eot');
    src: local('Doran Thin'), local('Doran-Thin'),
        url('../fonts/Doran-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Thin.woff2') format('woff2'),
        url('../fonts/Doran-Thin.woff') format('woff'),
        url('../fonts/Doran-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Medium.eot');
    src: local('Doran Medium'), local('Doran-Medium'),
        url('../fonts/Doran-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Medium.woff2') format('woff2'),
        url('../fonts/Doran-Medium.woff') format('woff'),
        url('../fonts/Doran-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Bold.eot');
    src: local('Doran Bold'), local('Doran-Bold'),
        url('../fonts/Doran-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Bold.woff2') format('woff2'),
        url('../fonts/Doran-Bold.woff') format('woff'),
        url('../fonts/Doran-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Regular.eot');
    src: local('Doran Regular'), local('Doran-Regular'),
        url('../fonts/Doran-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Regular.woff2') format('woff2'),
        url('../fonts/Doran-Regular.woff') format('woff'),
        url('../fonts/Doran-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-ExtraBold.eot');
    src: local('Doran ExtraBold'), local('Doran-ExtraBold'),
        url('../fonts/Doran-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-ExtraBold.woff2') format('woff2'),
        url('../fonts/Doran-ExtraBold.woff') format('woff'),
        url('../fonts/Doran-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #fff;
    --black: #000;
    --light-green: #1BFD9C;
    --glass: rgba(255,255,255,.13);
    --glass-border: rgba(255,255,255,.1);
    --shadow: 0 0 40px rgba(8,7,16,.6);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    backdrop-filter: blur(10px);
    border: 2px solid var(--glass-border);
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.main-box {
    width: 70%;
    margin: 60px;
}

.label, .day-name {
    font-family: Doran, sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: 35px;
    margin: 20px;
}

.day-name {
    color: #1BFD9C;
}

.time-slots {
    display: grid;
    font-family: Doran, sans-serif;
    margin: 15px;
    grid-template-columns: repeat(4, 1fr);
}

.time-btn {
    font-family: Doran, sans-serif;
    font-size: 1.3em;
    color: var(--white);
    text-decoration: none;
    background-color: var(--black);
    margin: 15px;
    padding-block: 15px;
    border: 1px solid var(--black);
    width: 200px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--black),
    inset 0 0 50px var(--black);
    transition: all .2s ease-in-out;
}

.time-btn:hover {
    color: var(--light-green);
    border: 1px solid var(--white);
    box-shadow: inset 0 0 50px rgba(0, 255, 145, 0.6),
        0 0 3px 1px var(--white);
}

.time-btn.disabled {
    opacity: 0.9;
    background-color: red;
    cursor: not-allowed;
    pointer-events: none;
}

@media (max-width:768px) {
    .time-slots {
        grid-template-columns: repeat(2, 1fr);
    }
}