@font-face {
    font-family: ZFJahan;
    src: url('../fonts/ZFJahan.woff') format('woff'),
    url('../fonts/ZFJahan.ttf') format('truetype');
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Light.eot');
    src: local('Doran Light'), local('Doran-Light'),
        url('../../fonts/Doran-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Doran-Light.woff2') format('woff2'),
        url('../../fonts/Doran-Light.woff') format('woff'),
        url('../../fonts/Doran-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Thin.eot');
    src: local('Doran Thin'), local('Doran-Thin'),
        url('../../fonts/Doran-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Doran-Thin.woff2') format('woff2'),
        url('../../fonts/Doran-Thin.woff') format('woff'),
        url('../../fonts/Doran-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Medium.eot');
    src: local('Doran Medium'), local('Doran-Medium'),
        url('../../fonts/Doran-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Doran-Medium.woff2') format('woff2'),
        url('../../fonts/Doran-Medium.woff') format('woff'),
        url('../../fonts/Doran-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Bold.eot');
    src: local('Doran Bold'), local('Doran-Bold'),
        url('../../fonts/Doran-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Doran-Bold.woff2') format('woff2'),
        url('../../fonts/Doran-Bold.woff') format('woff'),
        url('../../fonts/Doran-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Regular.eot');
    src: local('Doran Regular'), local('Doran-Regular'),
        url('../../fonts/Doran-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Doran-Regular.woff2') format('woff2'),
        url('../../fonts/Doran-Regular.woff') format('woff'),
        url('../../fonts/Doran-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-ExtraBold.eot');
    src: local('Doran ExtraBold'), local('Doran-ExtraBold'),
        url('../../fonts/Doran-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Doran-ExtraBold.woff2') format('woff2'),
        url('../../fonts/Doran-ExtraBold.woff') format('woff'),
        url('../../fonts/Doran-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #fff;
    --black: #000;
    --light-green: #1BFD9C;
    --glass: rgba(255,255,255,.13);
    --glass-border: rgba(255,255,255,.1);
    --shadow: 0 0 40px rgba(8,7,16,.6);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    backdrop-filter: blur(10px);
    border: 2px solid var(--glass-border);
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.label {
    font-family: 'Doran', sans-serif;
    color: var(--white);
    font-size: 35px;
    margin: 20px;
}

.select-day {
    font-family: Doran, sans-serif;
}

.day-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.day-btn {
    font-family: Doran, sans-serif;
    font-size: 1.3em;
    color: var(--white);
    text-decoration: none;
    background: linear-gradient(
    90deg,
    #050505 0%,
    #050505 30%,
    rgba(0, 113, 64, 0.3) 100%
    );
    margin: 15px;
    padding-block: 15px;
    border: 1px solid var(--black);
    width: 200px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--black),
    inset 0 0 50px var(--black);
    transition: all 1s ease-in-out;
}

.day-btn:hover {
  color: var(--light-green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}


@media (max-width: 768px) {
    section {
        width: 90%;
        height: auto;
    }
    
    .day-list {
        grid-template-columns: repeat(2, 1fr);
    }
}