:root {
    --white: #fff;
    --black: #000;
    --light-green: #1BFD9C;
    --glass: rgba(255,255,255,.13);
    --glass-border: rgba(255,255,255,.1);
    --shadow: 0 0 40px rgba(8,7,16,.6);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    backdrop-filter: blur(10px);
    border: 2px solid var(--glass-border);
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.main-section {
    margin: 60px;
}

.label {
    /* font-family: 'Doran', sans-serif; */
    color: var(--white);
    font-size: 35px;
    margin: 20px;
}

.select-day {
    /* font-family: Doran, sans-serif; */
}

.day-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.day-btn {
    /* font-family: Doran, sans-serif; */
    font-size: 1.3em;
    color: var(--white);
    text-decoration: none;
    background-color: var(--black);
    margin: 15px;
    padding-block: 15px;
    border: 1px solid var(--black);
    width: 200px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--black),
    inset 0 0 50px var(--black);
    transition: all .2s ease-in-out;
}

.day-btn:hover {
    color: var(--light-green);
    border: 1px solid var(--white);
    box-shadow: inset 0 0 50px rgba(0, 255, 145, 0.6),
        0 0 3px 1px var(--white);
}


@media (max-width: 768px) {
    section {
        width: 90%;
        height: auto;
    }
    
    .day-list {
        grid-template-columns: repeat(2, 1fr);
    }
}