{% extends "base.html" %}
{% load static %}

{% block header_references %}
    <link rel="stylesheet" href="{% static 'account_module/css/account.css' %}">
{% endblock header_references %}

{% block content %}

    {% for reservation in reservations %}

        <div class="glass">

            <div class="date-box">
                {{ reservation.date }}
            </div>

            <div class="time-box">
                {{ reservation.time }}
            </div>

        </div>

    {% empty %}

        <p>هنوز هیچ رزروی ندارید.</p>

    {% endfor %}

{% endblock content %}