{% extends 'base.html' %}
{% load static %}

{% block page_title %}
Book-Harmoon-Appointment
{% endblock %}

{% block header_references %}
<link rel='stylesheet' href='{% static "reservation_app/reserv.css" %}'>
{% endblock header_references %}

{% block content %}
<p> برای رزرو نوبت یک روز را انتخاب کنید </p>
<div>
    <button> 
        <span style='display:flex; justify-content:center; align-items:center;'>شنبه</span>
    </button>
</div>
<div>
    <button> 
        <span style='display:flex; justify-content:center; align-items:center;'>یکشنبه</span>
    </button>
</div>
<div>
    <button> 
        <span style='display:flex; justify-content:center; align-items:center;'>دوشنبه</span>
    </button>
</div>
<div>
    <button> 
        <span style='display:flex; justify-content:center; align-items:center;'>سه شنبه</span>
    </button>
</div>
<div>
    <button> 
        <span style='display:flex; justify-content:center; align-items:center;'>چهارشنبه</span>
    </button>
</div>
<div>
    <button> 
        <span style='display:flex; justify-content:center; align-items:center;'>پنج شنبه</span>
    </button>
</div>
<div>
    <button> 
        <span style='display:flex; justify-content:center; align-items:center;'>جمعه</span>
    </button>
</div>
{% endblock %}

{% block footer_references %}
{% endblock footer_references %}