{% extends 'base.html' %}
{% load static %}

{% block page_title %}
Book-Harmoon-Appointment
{% endblock page_title %}

{% block header_references %}
<link rel='stylesheet' href='{% static "reservation_app/reservation.css" %}'>
{% endblock header_references %}

{% block content %}
<p> برای رزرو نوبت یک روز را انتخاب کنید </p>
<div>
    <button>
        شنبه | ۱۴۰۵/۰۵/۰۱
    </button>
</div>
<div>
    <button>
    یکشنبه | ۱۴۰۵/۰۵/۰۲
    </button>
</div>
<div>
    <button>
        دوشنبه | ۱۴۰۵/۰۵/۰۳.
    </button>
</div>
<div>
    <button>
        سه شنبه | ۱۴۰۵/۰۵/۰۴    
    </button>
</div>
<div>
    <button>
        چهارشنبه | ۱۴۰۵/۰۵/۰۵
    </button>
</div>
<div>
    <button>
        پنج شنبه | ۱۴۰۵/۰۵/۰۶    
    </button>
</div>
<div>
    <button>
        جمعه | ۱۴۰۵/۰۵/۰۷
    </button>
</div>

{% endblock content %}

{% block footer_references %}
{% endblock footer_references %}