@font-face {
    font-family: hasti;
    src: url('../fonts/hasti.woff') format('woff'),
    url('../fonts/hasti.ttf') format('truetype');
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Light.eot');
    src: local('Doran Light'), local('Doran-Light'),
        url('../fonts/Doran-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Light.woff2') format('woff2'),
        url('../fonts/Doran-Light.woff') format('woff'),
        url('../fonts/Doran-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Thin.eot');
    src: local('Doran Thin'), local('Doran-Thin'),
        url('../fonts/Doran-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Thin.woff2') format('woff2'),
        url('../fonts/Doran-Thin.woff') format('woff'),
        url('../fonts/Doran-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Medium.eot');
    src: local('Doran Medium'), local('Doran-Medium'),
        url('../fonts/Doran-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Medium.woff2') format('woff2'),
        url('../fonts/Doran-Medium.woff') format('woff'),
        url('../fonts/Doran-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Bold.eot');
    src: local('Doran Bold'), local('Doran-Bold'),
        url('../fonts/Doran-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Bold.woff2') format('woff2'),
        url('../fonts/Doran-Bold.woff') format('woff'),
        url('../fonts/Doran-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-Regular.eot');
    src: local('Doran Regular'), local('Doran-Regular'),
        url('../fonts/Doran-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-Regular.woff2') format('woff2'),
        url('../fonts/Doran-Regular.woff') format('woff'),
        url('../fonts/Doran-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doran';
    src: url('Doran-ExtraBold.eot');
    src: local('Doran ExtraBold'), local('Doran-ExtraBold'),
        url('../fonts/Doran-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Doran-ExtraBold.woff2') format('woff2'),
        url('../fonts/Doran-ExtraBold.woff') format('woff'),
        url('../fonts/Doran-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #fff;
    --gray: rgb(128, 128, 128, .5);
    --custom-green: #254031;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    position: relative;
    background: var(--custom-green);
    background-image:  radial-gradient(var(--gray) 1.2px, transparent 1.2px), 
    radial-gradient(var(--gray) 1.2px, transparent 1.2px);
    background-size: 16px 16px;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: auto;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 150px;
    width: 100px;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: stretch;

    z-index: 0;
    pointer-events: none;
}

.line {
    width: 14px;
    height: 100%;
    background: var(--white);
}

.logo {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background: var(--custom-green);
    color: var(--white);
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 0 0 5px var(--white);
}


.content {
    position: relative;
    z-index: 10;

    margin-left: 320px;
    width: calc(100% - 320px);
    min-height: 100vh;
}

@media (max-width: 768px) {
    .sidebar {
        left: 3.5rem;
        opacity: .5;
        width: 70px;
    }

    .line {
        left: 10px;
        width: 10px;
        height: 100vh;
    }

    .logo {
        font-size: 20px;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }

}