:root {
    --white: #fff;
    --black: #000;
    --glass: rgba(255,255,255,.13);
    --glass-border: rgba(255,255,255,.1);
    --shadow: 0 0 40px rgba(8,7,16,.6);
    --custom-green: #254031;
}

.glass {
    background-color: var(--glass);
    backdrop-filter: blur(10px);
    border: 2px solid var(--glass-border);
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserv-btn {
    padding: 18px 45px;
    font-size:18px;
    letter-spacing:2px;
}

.titr {
    display: inline-block;
    font-family: Doran, sans-serif;
    font-weight: 800;
    font-size: clamp(1.5rem,4vw,2.2rem);
    color: var(--white);
    background-color: var(--custom-green);
    padding: 5px;
    padding-inline: 20px;
    margin-inline: 20px;
    border: 2px solid var(--white);
    border-right: transparent;
    border-bottom: transparent;
    border-radius: 30px;
    box-shadow: inset 1px 1px 10px var(--white);
}

.desc {
    font-family: Doran, sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
    height: 100%;
    width: 70%;
    color: var(--white);
    padding: 2%;
    margin: 1%;
    box-shadow: 0 0 5px var(--white);
}

.about {
    font-size: 1.5rem;
    width: 70%;
    align-items: center;
    gap: 20px;
    margin: 1%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 5px var(--white);
}

.info-card {
    width: 90%;
    text-align: center;
    color: var(--black);
    font-family: Doran, sans-serif;
    padding: 20px;
    border-radius: 10px;
}

.info-card a {
    color: var(--black);
}

p a {
  color: var(--white);
}

@media (max-width: 768px) {
    .navigation {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .about {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        width: 70%;
    }

    .desc,
    .about{
        width:95%;
        margin:auto;
    }

    .titr{
        margin: 2%;
        text-align:right;
    }
}