.navigation {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 95px;
    margin: 10px;
    padding: .5px;
    gap: 20px;
    background: linear-gradient(
    90deg,
    rgba(242, 246, 247, 1) 0%,
    rgba(37, 64, 49, .1) 10%,
    rgba(247, 252, 250, 1) 100%);
    border: 1px solid var(--white);
    border-radius: 15px;
    box-shadow: var(--shadow);
}

.nav-item {
    display: inline-block;
    font-family: hasti, sans-serif;
    font-size: clamp(1em, 3vw,2.5em);
    position: relative;
    color: var(--black);
    text-decoration: none;
    margin: 10px 5px;
    padding: 10px;
    text-shadow: 1px 1px 1px var(--white);
}

.nav-item:hover {
    color: green;
}


.icon {
    color: var(--gray);
    position: absolute;
    z-index: -10;
    opacity: .5;
}


@media (max-width: 768px) {
    .navigation {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .nav-item {
        font-size: 1em;
    }
}