{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}
    

{% block header_references %}
    <link rel='stylesheet' href='{% static "reservation_module/css/day_schedule.css" %}'>
{% endblock header_references %}

{% block content %}
<div class='flex-center'>
    <div class='main-box glass'>
        <section>
            <p class='label flex-center'> تایم مورد نظر خود را انتخاب کنید: </p>
            <p class='day-name flex-center'>
                {{ jalali_date.day }}/
                {{ jalali_date.month }}/
                {{ jalali_date.year }}
            </p>

            <div class='time-slots'>
                {% for time in times %}

                    {% if time in reserved_times %}

                        <span class="time-btn disabled">
                            {{ time }}
                        </span>

                    {% else %}

                        <a href="{% url 'create-reservation' date time %}" class="time-btn">
                            {{ time }}
                        </a>

                    {% endif %}

                {% endfor %}
            </div>

            <p> {{ now }} </p>

        </section>
    </div>
</div>
{% endblock content %}
    