{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}
    

{% block header_references %}
    <link rel='stylesheet' href='{% static "reservation_module/css/day_schedule.css" %}'>
{% endblock header_references %}

{% block content %}
<div class='flex-center'>
    <div class='main-box glass'>
        <section>
            <p class='label flex-center'> تایم مورد نظر خود را انتخاب کنید: </p>
            <p class='day-name flex-center'>- {{ date }} -</p>
            <div class='time-slots'>
                {% for time in times %}
                    <button class='flex-center day-time'>
                        {{ time }}
                    </button>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock content %}
    